* {  font-family: verdana,arial; padding:0; margin:0; font-size:14px; line-height:1.4em; }
a {  color: black; }
a img { border:0; }
p {  margin-bottom:0.4em; line-height: 1.6em; }
a image { border:0; }
td, tr { vertical-align: top; padding:0; margin:0; }
fieldset {  border:1px black solid;  padding:20px;  padding-top:0; }
input {  font-size:16px; }
table { border-collapse: collapse; padding:0; margin:0; }
pre { font-family: "Courier New", Courier, monospace; }
#logo span , #logo a span{ font-size: 4em; font-weight: bold; }
#logo a { text-decoration:none; }
#header h1 {  margin-top:-6px;  font-size:1em;   }
h2 { font-size: 1.6em; margin-top:1em; margin-bottom:0.6em; }
h3 {  font-size: 1.2em;  margin-top:1.8em;  margin-bottom:0.4em; }
#wrap { padding:10px 20px; max-width:800px; min-width:300px; margin:auto; background-color: white; }

#bookmarks ul { list-style: none }
#bookmarks ul li { display:inline; }
#bookmarks a img { opacity:0.7; width:24px;}
#bookmarks a:hover img { opacity:1;}
#header {  padding-bottom: 20px; }

#fbut {   padding: 2px 40px 2px 40px; }
#nav ul li {  display: inline; margin-right:50px; }
#nav ul li a {  font-weight: bold;  text-decoration:none; font-size:16px;  line-height:24px; }
#nav ul li a:hover {  background:#DDD; text-decoration: none; }
#nav {  margin-bottom: 24px;  border: 1px solid black;  border-width: 1px 0 2px 0;  line-height:24px; background-color:#EFEFEF; padding-left:4px; }

#langmenu { float: right; }
#langmenu a { text-decoration:none; text-transform: uppercase; font-size: 1.2em;}
#langmenu span.active { background-color:black;color:white; font-weight:bold; text-transform: uppercase; font-size: 1.2em;}
#langmenu a:hover { background-color:gray }

#footer { margin-top: 3em; margin-bottom: 2em; padding-top:1.4em; border: 1px solid black;  border-width: 1px 0 1px 0;  }
#footer a {  text-decoration: underline;   color:#000; }
#footer a:hover {  text-decoration: underline; }
.red {  color:red; }

#upfi {  font-size:1.2em; font-weight:bold;   }


#explain {  margin-bottom:2em; }
#error {  margin-top:20px;  color: #B11;  font-weight: bold; }
.error {  color: #B11; }
#toomanysubs {  margin-top:40px;  margin-bottom:80px;  border: 1px solid black;  padding:0 20px 40px 20px; }
#donate {  float:right; padding-top:1px; }

#appform { margin-top:2.4em;}

#result {  margin-bottom: 40px; border: 3px #44f solid; padding: 10px;}
#result-title {  font-size:18px;  font-weight: bold; }
#result-parsed {   font-size: 16px;   margin-top:6px;   margin-bottom:6px; }
#result-raw, #result-parsed { border:1px solid #666; padding:4px; }
#result-parsed-header { font-weight:bold; margin-top:0.4em; }

/* Modal */ #proggif { text-align:center; margin-bottom: 40px; }
#uploadMessage {  display: none; text-align:center; line-height:24px; position: fixed;  top: 35%;  left: 50%;  margin-left: -300px;  width: 600px;  background-color: #EEE;  color: #000;  border: 2px solid black;  padding: 20px; }
.jqmOverlay { background-color: #000; }
/*** Contact Form ***/ #contact-wrapper div {  clear:both;  margin:1em 0; }
#contact-wrapper label {  display:block;  float:none;  width:auto; }
form#contactform input {  border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;  border-style:solid;  border-width:1px;  padding:2px;  color:#333;  width: 400px; }
form#contactform textarea {  font-size:100%;  padding:2px;  border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;  border-style:solid;  border-width:1px; }
form#contactform #captcha {  padding-right:20px; }
form#contactform #captcha_code {  width:100px; }


#ppdonate { float: right; margin-top: 2px;}	
	 
